<div *ngFor="let auction of auctions">
    <a routerLink="/auction/{{auction.id}}">
        <div class="row auctionItem" style="margin:30px; height: 100px;">
            <img src="{{imageFrom(auction.icon)}}" height="75px" width="75px" class="auctionItemAvatar">
            <div class="auctionItemName">{{auction.title}} {{auction.id}}</div>
            <div class="auctionItemPrice">{{auction.price}}$</div>
            <div class="auctionItemDate">{{timePassed(auction.creationTime)}}</div>
        </div>
    </a>
</div>
<div class="row">
    <div style="margin: auto;">
        <button class="btn btn-success" style="margin: 10px;" (click)="changePage(-1)">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </button>
        <button class="btn btn-success" style="margin: 10px;" (click)="changePage(1)">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>
        </button>
    </div>
</div>