.auctionItem{
    /* AuctionItem */
    width: 1258px;
    height: 148px;

    background: #C1C1C1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;

    filter: drop-shadow(6px 10px 7px rgba(0, 0, 0, 0.25));
}


.auctionItemAvatar{
    position: absolute;
    left: 1.67%;
    right: 89.11%;
    top: 14.19%;
    bottom: 13.51%;

    border: 1px solid #767676;
    border-radius: 16px;
}

.auctionItemName{
    position: absolute;
    left: 10.89%;
    right: 53.97%;
    top: 0%;
    bottom: 0%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;    
}

.auctionItemPrice{
    position: absolute;
    left: 47.22%;
    right: 29.89%;
    top: 0%;
    bottom: 0%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}




.auctionItemDate{
    position: absolute;
    left: 71.3%;
    right: 3.5%;
    top: 0%;
    bottom: 0%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid white;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(44, 44, 44) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  