<div class="container p-4" *ngIf="auction&&user">
    <div class="row">
        <div class="col-4">
            <img src="{{imageFrom(auction.iconId)}}" class="border rounded">
        </div>
        <div class="col-8">
            <h3 class="">{{auction.title}}</h3>
        </div>
    </div>
    <div class="row mt-5 border rounded bg-info">
        <div class="col-6 text-center">
            <h4>
                Item price: {{auction.price | currency}}
            </h4>
        </div>
        <div class="col-6 text-center">
            <h4>
                Total price: {{auction.price | currency}}
            </h4>
        </div>
    </div>
    <div class="row mt-3 border rounded">
        <div class="col-6 text-center bg-success">
            <h4>
                Current Balance: {{user.balance | currency}}
            </h4>
        </div>
        <div class="col-6 text-center" [class.bg-danger]="user.balance - auction.price < 0" [class.bg-success]="user.balance - auction.price >= 0">
            <h4>
                New Balance: {{user.balance - auction.price | currency}}
            </h4>
        </div>
    </div>
    <div class="row mt-3 rounded">
        <div class="col-6 text-center m-auto">
            <div *ngIf="user.balance - auction.price < 0">
                <button class="btn btn-primary container" routerLink="/addbalance"><h1>Increase balance</h1></button>
            </div>
            <div *ngIf="user.balance - auction.price >= 0">
                <button class="btn btn-success container" (click)="buy()"><h1>Buy</h1></button>
            </div>
        </div>
    </div>
</div>