<div class="container" style="width: 40%;">
    <form (ngSubmit)="onSubmit()" [formGroup]="auctionForm">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type="email" formControlName="title" required>
            <div *ngIf="f.title.errors && submitted" class="alert alert-danger">
                Title should be at least 4 characters
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" type="text" formControlName="description" required
                rows="15"></textarea>
            <div *ngIf="f.description.errors && submitted" class="alert alert-danger">
                <div *ngIf="f.description.errors.minlength || f.description.errors.required">
                    Description should be at least 20 characters
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input class="form-control" type="number" formControlName="price" required>
            <div *ngIf="f.price.errors && submitted" class="alert alert-danger">
                <div *ngIf="f.price.errors.required">
                    Price is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="icon">Icon</label>
            <input class="form-control-file" type="file" formControlName="icon" (change)="onFileChange($event.target.files)">
        </div>
        <div class="form-group">
            <input class="form-control btn-success" type="submit" value="Create">
        </div>
    </form>
</div>